<h1>debbi</h1>

<dl>
  <dt>ID</dt>
  <dd>106</dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/106" >
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="debbi">

      <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos (10)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th></th>
  </tr>

  <tr>
    <td>
      <img src="https://robohash.org/corruptiveniamsit.png?size=300x300&amp;set=set1">
    </td>

    <td>
      debbi
    </td>

    <td>
      All dwarfs are bastards in their father&#39;s eyes
    </td>

    <td>
      2017-02-09 22:10:29 UTC
    </td>
    
    <td>
      <a href="/photos/836">
        Show details
      </a>
    </td>
  </tr>
